@font-face {
    font-family: 'Bungee';
    src: url(fonts/Bungee/Bungee-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}


* {
    background-image: url(imagenes/fondo_index.png);
}



body{
    overflow-x: hidden;

}

.cabecera {
    font-family: 'Bungee';
    text-align: center;
    top: 1.3em;
    margin-left: 10%;
    margin-bottom: 10%;
    color: white;
    position: relative;
    font-size: 340%;
    width: 80%;
    height: 5%;
    margin-top: 0;
    transform: translateX(2%);
    
}

.contenedorFoto{
    position: absolute;
    transform: translateX(550%);
    top: 1.5em; 
    z-index: 1;  
    width: 15%;

}

.yuki{
    width: 100%;  

}

.contenedorEnlaces{
    position: relative; 
     display: flex;
     justify-content: center;  
     margin-left: -2%;
     z-index: 2;  

}

.sobreMi {
    height: 5%;
    text-align: center;
    transition: filter 0.3s ease;

    img{
        width: 102.5%;

    }
}
.sobreMi:hover {
    filter: brightness(60%);
    

}



