* {
    background-image: url(imagenes/fondo_index.png);
    font-family: monospace;
}

body{
    overflow-x: hidden;

}

.cabecera {
    text-align: left;
    top: 2em;
    margin-left: 10%;
    margin-bottom: 10%;
    color: white;
    position: relative;
    font-size: 350%;
    width: 50%;
    height: 5%;
    margin-top: 0;
    transform: translateX(50%);
    
}

.yuki{
    position: absolute;
    top: 1.5em;
    left: 85em;
    width: 15%; 
    transform: translateX(100%);
    z-index: 2;  


}

.contenedorEnlaces{
    position: relative; 
     display: flex;
     justify-content: center;  
     margin-left: -2%;
     z-index: 2;  

}

.sobreMi {
    height: 5%;
    text-align: center;
    transition: filter 0.3s ease;

    img{
        width: 102.5%;

    }
}
.sobreMi:hover {
    filter: brightness(60%);
    

}



